# Variable creation

## correct way of creating a variable

--> start variable name by alphabets only
--> use the underscore to separate the words
--> use number after the word

Example

In [ ]:
var = 10
var1 = 20
var_num = 30

# Incorrect way of creating variable

In [ ]:
--> any special char/ number should not be used 1st.
--> no spaces used between the word
--> variable name should not be the keywords
--> case sensitive [a, A] different.

Example

In [ ]:
@var = 10, #var = 20
var 10 = 10
1 var = 10
var num = 20
class = 30

In [ ]:
import keyword
print(keyword.kwlist)

# Data types

integer-->int
floating --> float
char--> str
complex type --> complex
boolean --> bool
none type --> None
object_type --> object

In [ ]:
dir() # --> list of all created variables

In [ ]:
## integer class
num = 15
print(num)

In [ ]:
type(num)

In [ ]:
print(type(num))

In [ ]:
## floating data type
marks = 50.6
print(marks)
print(type(marks))

In [ ]:
## complex datatype
cmpl = 10j + 20
print(cmpl)
print(type(cmpl))

In [1]:
## string datatype for single word
name = 'Excelr'
print(name)
print(type(name))

Excelr
<class 'str'>

In [2]:
## string datatype for statment
data_sciece = "we are studying's data science"
print(data_sciece)
print(type(data_sciece))

we are studying's data science
<class 'str'>

In [3]:
## string datatype for paragraph
Data_structure = '''List
                    Tuple
                     Set
                     Dictionary'''
print(Data_structure)
print(type(Data_structure))

List
                    Tuple
                     Set
                     Dictionary
<class 'str'>

In [ ]:
# boolean type of data
value = False
print(value)
print(type(value))

valueT = True
print(valueT)
print(type(valueT))

In [ ]:
# none type
variable = None
print(variable)
print(type(variable))

In [ ]:
# object type of data
Object_type = object # [int, float, str, complex]
print(Object_type)
print(type(Object_type))

In [ ]:
import datetime as dt
date = dt.datetime(2024,5,30)

In [ ]:
print(date)
print(type(date))

# string manipulation

In [7]:
name = 'excelr'

In [8]:
# string manipulation 
name.capitalize(), name.casefold(),name.lower(), name.upper(), name.swapcase()

('Excelr', 'excelr', 'excelr', 'EXCELR', 'EXCELR')

In [10]:
name.endswith('r'),name.startswith('e')

(True, True)

In [11]:
name

'excelr'

In [12]:
name.isalnum(),name.isalpha(),name.isascii(),name.isdecimal(),name.isdigit()

(True, True, True, False, False)

In [13]:
name.islower(),name.isnumeric(),name.isupper(),name.istitle()

(True, False, False, False)

In [14]:
Data_structure

'List\n                    Tuple\n                     Set\n                     Dictionary'

In [15]:
Data_structure.istitle()

True

In [16]:
data_sciece.istitle()

False

In [17]:
name

'excelr'

In [24]:
name.center(15,'%'), name.ljust(7,'*'), name.rjust(15,',')

('%%%%%excelr%%%%', 'excelr*', ',,,,,,,,,excelr')

In [ ]:
# indexing [0,1,2,3,4,5....]

In [25]:
name

'excelr'

In [26]:
name.count('e'),name.find('e'),name.index('e'),name.rfind('e'),name.rindex('e')

(2, 0, 0, 3, 3)

In [28]:
name.find('ex'),name.index('excelr')

(0, 0)

In [ ]:
# slicing,[start: end: step]

In [29]:
name[0:4] # starts with o index end with 3rd index

'exce'

In [30]:
name[0:4:1]

'exce'

In [31]:
name[0:4:2]

'ec'

In [32]:
name[1:]

'xcelr'

In [33]:
name[0::] # start with 0, and selected all

'excelr'

In [34]:
name[:],name[::] # start with start index and selected all.

('excelr', 'excelr')

In [ ]:
# negative indexing.

In [35]:
name

'excelr'

In [37]:
name[-1] # selected a last value

'r'

In [38]:
name[::-1] # reversing

'rlecxe'

In [39]:
name[3:0:-1]  # choosing a data from left side

'ecx'

In [40]:
name[0:5:-1] #if index miss matched, it will be empty string.

''

In [ ]:
name[-1]

In [41]:
name = '  Excelr   '
name

'  Excelr   '

In [42]:
# strip: removing the spaces
name.lstrip(), name.strip(),name.rstrip()

('Excelr   ', 'Excelr', '  Excelr')

In [44]:
# split the data for spaces
data = "we are studying's data science"
data.split()

['we', 'are', "studying's", 'data', 'science']

In [45]:
# split the data for spaces
data = "we,are,studying's,data,science"
data.split(',')

['we', 'are', "studying's", 'data', 'science']

In [ ]:
name.split(),name.splitlines()

In [ ]:
data_sciece.split()

In [46]:
Data_structure

'List\n                    Tuple\n                     Set\n                     Dictionary'

In [47]:
Data_structure.splitlines()

['List',
 '                    Tuple',
 '                     Set',
 '                     Dictionary']

In [48]:
# formating a string
age = 26
weight = 50
print('My age is ',age,'My weight is ',weight)

My age is  26 My weight is  50

In [49]:
statment = 'My age is {}, My wieght is {}'.format(age,weight)
print(statment)

My age is 26, My wieght is 50

In [50]:
statment = f'My age is {age}, My wieght is {weight}'
print(statment)

My age is 26, My wieght is 50

In [ ]:
# input function

In [51]:
age = input()
print(age)

53
53

In [52]:
type(age)

str

In [ ]:
# type casting # int, float, str,

In [53]:
age = '56'
print(type(age))
age_int = int(age)
type(age_int)

<class 'str'>

int

In [54]:
age = '56.6'
print(type(age))
age_int = float(age)
type(age_int)

<class 'str'>

float

In [55]:
age = '10+5j'
print(type(age))
age_int = complex(age)
type(age_int)

<class 'str'>

complex

In [56]:
age = 'True'
print(type(age))
age_int = bool(age)
print(age_int)
type(age_int)

<class 'str'>
True

bool

In [59]:
age = 56
weight = 80.9
bm = 10+9j
name = 'data'

In [60]:
float(age),complex(age),str(age), bool(age) # possible type conversion for integer

(56.0, (56+0j), '56', True)

In [61]:
int(weight),complex(weight),str(weight), bool(weight) # possible type conversion for float

(80, (80.9+0j), '80.9', True)

In [64]:
str(bm), bool(bm) ## possible type conversion for complex

('(10+9j)', True)

In [ ]:
bool(name) ## possible type conversion for string

In [75]:
num = '80.9'
float(num), complex(num),bool(num)
# int(num) # not possible case

(80.9, (80.9+0j), True)

In [70]:
d = None
bool(d)

False

In [71]:
d = 0
bool(d)

False

In [72]:
d = _
bool(d)

False

In [76]:
marks = int(input())

80

In [77]:
type(marks)

int

In [78]:
marks = float(input())
print(marks)
type(marks)

30.5
30.5

float

In [ ]:
2. operators
Arthimetic operators:
    + add
    - sub
    * mul
    / div
    ** power
    // floar div
    % reminder
Logical operators:
    and  & 
    or |
    not !
Membership operators:
    in ,not in
    is , is not
comparision operators:
    equal ==
    not equal !=
    greater the >, >=
    lesser then <,<=
increamenting and decreamenting for looping case
 += increament
 -= decreament
 *= multiples
 /= divesion

In [79]:
a = 10
b = 20
a, b = 10, 20

In [80]:
add = a+b
sub = a-b
mul = a*b
div = a/b
power = a **2
flr_div = a//b
rmdr = a%b

In [81]:
print(add, sub,mul,div,power,flr_div,rmdr)

30 -10 200 0.5 100 0 10

In [83]:
print(f'addition: {add}\nsubtraction:{sub}\nmulplication:{mul}\ndivision:{div}\npower_a:{power}\nfloar_div: {flr_div}\nreminder:{rmdr}')

addition: 30
subtraction:-10
mulplication:200
division:0.5
power_a:100
floar_div: 0
reminder:10

In [ ]:
# arithemetic operators on diffrent data types.

In [85]:
# * operator can be used for writing multiple times.
a = 10
b = '10'
a*b

'10101010101010101010'

In [87]:
a = 10.3
b = '10'
a+b

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [88]:
# + operator can be used for concatination
a = '10.3'
b = '10'
a+b

'10.310'

# Data structures
List
Tuple
Set
Dictionary

In [ ]:
Creating a list type of data structure,[], list(), values are stored as comma separated.

In [135]:
Alist = []
print(Alist)
print(type(Alist))

[]
<class 'list'>

In [136]:
Alist = list()
print(Alist)
print(type(Alist))

[]
<class 'list'>

In [137]:
Blist = [10,15,19,18,20,30]
print(Blist)
print(type(Blist))

[10, 15, 19, 18, 20, 30]
<class 'list'>

In [138]:
Clist = [10,19.6, 'name',True,None]
print(Clist)
print(type(Clist))

[10, 19.6, 'name', True, None]
<class 'list'>

In [139]:
Blist * 3 # multiple tim

[10, 15, 19, 18, 20, 30, 10, 15, 19, 18, 20, 30, 10, 15, 19, 18, 20, 30]

In [140]:
Blist + Clist # concatination /join

[10, 15, 19, 18, 20, 30, 10, 19.6, 'name', True, None]

In [141]:
# - ,/ operators will not work for list type of data.

In [142]:
20 in Blist, 23 not in Blist # membership operators

(True, True)

In [143]:
type(Blist) is list, type(Blist) is not str  # membership operators

(True, True)

In [144]:
# builtin function for list type of data

In [145]:
age = [25,26,27,28,29,30,45,86,52]

In [146]:
# to add a new value to a list
age.append(23) # single value

In [147]:
age

[25, 26, 27, 28, 29, 30, 45, 86, 52, 23]

In [148]:
age.append([26,29])

In [149]:
age

[25, 26, 27, 28, 29, 30, 45, 86, 52, 23, [26, 29]]

In [150]:
age.extend([24,25]) # multiple value

In [111]:
age

[25, 26, 27, 28, 29, 30, 45, 86, 52, 23, [26, 29], 24, 25]

In [112]:
age.insert(0,15)

In [113]:
age

[15, 25, 26, 27, 28, 29, 30, 45, 86, 52, 23, [26, 29], 24, 25]

In [ ]:
# removing a value /

In [114]:
age.pop() # last value

25

In [115]:
age

[15, 25, 26, 27, 28, 29, 30, 45, 86, 52, 23, [26, 29], 24]

In [116]:
age.pop(1)

25

In [117]:
age

[15, 26, 27, 28, 29, 30, 45, 86, 52, 23, [26, 29], 24]

In [118]:
age.remove(86)

In [119]:
age

[15, 26, 27, 28, 29, 30, 45, 52, 23, [26, 29], 24]

In [120]:
age.remove([26,29])

In [121]:
age

[15, 26, 27, 28, 29, 30, 45, 52, 23, 24]

In [ ]:
Age = age[::-1]

In [ ]:
Age

In [ ]:
Age.remove(30)

In [ ]:
Age

In [ ]:
age.clear()

In [ ]:
age

In [128]:
age = [25,26,27,28,29,30,45,86,52]

In [123]:
Age = age.copy()

In [124]:
Age

[25, 26, 27, 28, 29, 30, 45, 86, 52]

In [134]:
age.index(27) # index number of given value

6

In [126]:
age.reverse()

In [127]:
age

[52, 86, 45, 30, 29, 28, 27, 26, 25]

In [129]:
age[::-1]

[52, 86, 45, 30, 29, 28, 27, 26, 25]

In [130]:
age.sort() # ascending order

In [131]:
age

[25, 26, 27, 28, 29, 30, 45, 52, 86]

In [132]:
age.sort(reverse=True) # descending order

In [151]:
age

[25, 26, 27, 28, 29, 30, 45, 86, 52, 23, [26, 29], 24, 25]

In [ ]:
# indexing and slicing

In [152]:
age

[25, 26, 27, 28, 29, 30, 45, 86, 52, 23, [26, 29], 24, 25]

In [153]:
age[0]

25

In [154]:
age[1]

26

In [155]:
age[0:5]

[25, 26, 27, 28, 29]

In [156]:
age[5:0:-1]

[30, 29, 28, 27, 26]

In [157]:
age[0:6:2]

[25, 27, 29]

In [158]:
age

[25, 26, 27, 28, 29, 30, 45, 86, 52, 23, [26, 29], 24, 25]

In [159]:
age[2] = 50

In [160]:
age

[25, 26, 50, 28, 29, 30, 45, 86, 52, 23, [26, 29], 24, 25]

In [ ]:
# multiple list

In [171]:
import numpy as np
mul_list = np.array([10,20,30])
mul_list.ndim

1

In [175]:
import numpy as np
mul_list = np.array([[[[10,20,30],
                      [10,20,30]]]])

In [176]:
mul_list.shape

(1, 1, 2, 3)

In [177]:
mul_list.ndim

4

In [183]:
mul_list[0][0][0][1] = 30

In [184]:
mul_list

array([[[[10, 30, 30],
         [10, 20, 30]]]])

In [185]:
mul_list = [[12,30,60],[1,2,3,[4,5,6],[5,6,9,[4,8,9,[0,0,0]]]]]

In [190]:
mul_list[1][4][1] = 7 # 6 --> 7

In [191]:
mul_list

[[12, 30, 60], [1, 2, 3, [4, 5, 6], [5, 7, 9, [4, 8, 9, [0, 0, 0]]]]]

In [ ]:
mul_list1 =[[[[10,20,30]],[[15,16],18],[90,60,30]]]

In [ ]:
mul_list1[0][1][0][1]

In [ ]:
mul_list1[0][2][2]

In [ ]:
# python's builtin function

In [ ]:
min(),max(),sum(),len(), abs(), round()

In [192]:
marks =[56,58,59,93,63,77]

In [193]:
min(marks), max(marks), sum(marks),len(marks),abs(-90)

(56, 93, 406, 6, 90)

In [ ]:
# average marks

In [194]:
avegare_marks = sum(marks)/len(marks)
avegare_marks

67.66666666666667

In [195]:
round(avegare_marks)

68

In [198]:
round(avegare_marks,3)

67.667

In [199]:
# calculate average age.
students_age = [28, 29, 30, 45, 86, 52, 23, [26, 29], 24, 25]

In [ ]:
# convert the student name in upper case.
students_name = ['Prajwal','juhaib','aryan','ram']

In [ ]:
students_name[0][0].upper()

In [ ]:
# Tuple : immutable type data structure. 
cannt update the tuple data
cannt assign a new value
cannt delet a value from a tuple.

In [200]:
# create tuple data
t = tuple()
T = 10,20,30,60
y = (10,20,30)

In [201]:
print(type(t))
print(type(T))
print(type(y))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [204]:
T.count(10),T.index(30)

(1, 2)

In [205]:
# converting to list
List = list(T)
List.append(80)
print(List)
print(type(List))

[10, 20, 30, 60, 80]
<class 'list'>

In [206]:
T = tuple(List)
print(T)
print(type(T))

(10, 20, 30, 60, 80)
<class 'tuple'>

In [ ]:
# Set type of data structure.
defualt unique + ascending order
the data is not on basis of indexing

In [207]:
#create a set type of data
S = {10,20,30}
R = set()
print(S)
print(R)
print(type(S),type(R))

{10, 20, 30}
set()
<class 'set'> <class 'set'>

In [225]:
Set1 = {10,20,20,30,30,50,60,10,20,80}
print(Set1)

{80, 50, 20, 10, 60, 30}

In [226]:
Set1

{10, 20, 30, 50, 60, 80}

In [212]:
Set2 = {10,20,30,50,60,10,20}
print(Set2)

{50, 20, 10, 60, 30}

In [213]:
Set1, Set2

({10, 20, 30, 50, 60, 80}, {10, 20, 30, 50, 60})

In [216]:
Set1.add(19)

In [217]:
Set1

{10, 19, 20, 30, 50, 60, 80}

In [218]:
Set1.update({104,105})

In [219]:
Set1

{10, 19, 20, 30, 50, 60, 80, 104, 105}

In [221]:
Set1.pop()

105

In [222]:
Set1

{10, 19, 20, 30, 50, 60, 80}

In [223]:
Set1.remove(60)

In [224]:
Set1

{10, 19, 20, 30, 50, 80}

In [233]:
name1 = {'Prajwal','juhaib','aryan','ram','pyarellall','aryan','ram','pyarellall'}
name2 = {'aryan','ram','pyarellall','binit','venkatesh','tej','rajshri','tanuja'}

In [228]:
name1,name2

({'Prajwal', 'aryan', 'juhaib', 'pyarellall', 'ram'},
 {'aryan',
  'binit',
  'pyarellall',
  'rajshri',
  'ram',
  'tanuja',
  'tej',
  'venkatesh'})

In [229]:
name1.union(name2)

{'Prajwal',
 'aryan',
 'binit',
 'juhaib',
 'pyarellall',
 'rajshri',
 'ram',
 'tanuja',
 'tej',
 'venkatesh'}

In [230]:
name1.difference(name2)

{'Prajwal', 'juhaib'}

In [234]:
name2.difference(name1)

{'binit', 'rajshri', 'tanuja', 'tej', 'venkatesh'}

In [235]:
name1.intersection(name2)

{'aryan', 'pyarellall', 'ram'}

In [236]:
name2.intersection(name1)

{'aryan', 'pyarellall', 'ram'}

In [237]:
name1.symmetric_difference(name2)

{'Prajwal', 'binit', 'juhaib', 'rajshri', 'tanuja', 'tej', 'venkatesh'}

In [238]:
name1, name2

({'Prajwal', 'aryan', 'juhaib', 'pyarellall', 'ram'},
 {'aryan',
  'binit',
  'pyarellall',
  'rajshri',
  'ram',
  'tanuja',
  'tej',
  'venkatesh'})

In [239]:
name1.difference_update(name2)

In [240]:
name1, name2

({'Prajwal', 'juhaib'},
 {'aryan',
  'binit',
  'pyarellall',
  'rajshri',
  'ram',
  'tanuja',
  'tej',
  'venkatesh'})

In [241]:
name1.intersection(name2)

set()

In [242]:
name1.intersection_update(name2)

In [243]:
name1, name2

(set(),
 {'aryan',
  'binit',
  'pyarellall',
  'rajshri',
  'ram',
  'tanuja',
  'tej',
  'venkatesh'})

In [244]:
name1.symmetric_difference(name2)

{'aryan',
 'binit',
 'pyarellall',
 'rajshri',
 'ram',
 'tanuja',
 'tej',
 'venkatesh'}

In [245]:
name1.symmetric_difference_update(name2)

In [247]:
name1,name2

({'aryan',
  'binit',
  'pyarellall',
  'rajshri',
  'ram',
  'tanuja',
  'tej',
  'venkatesh'},
 {'aryan',
  'binit',
  'pyarellall',
  'rajshri',
  'ram',
  'tanuja',
  'tej',
  'venkatesh'})

In [249]:
A = {1,2,3,4,5,6,7,8,9,10}
B = {1,2,3,4,8,9,10}

In [250]:
B.issubset(A),A.issuperset(B)

(True, True)

In [251]:
B.issuperset(A),A.issubset(B)

(False, False)

# Dictionary

In [ ]:
# Dictionary: (key: value) pairs, comma sepatrated.
{},{'key':values},

In [252]:
Dict1 = {}
type(Dict1)

dict

In [253]:
Dict1 = {'key1':1,
        'key2':2,
        'key3':3,
        'key4':4}
type(Dict1)

dict

In [256]:
Dict2 = {1:10,
        2:'excler',
        3:True,
        4:20.3}
type(Dict2)

dict

In [257]:
print(Dict1)

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [262]:
Dict1['key1'], Dict1.get('key1')

(1, 1)

In [264]:
Dict1.keys(),Dict1.values()

(dict_keys(['key1', 'key2', 'key3', 'key4']), dict_values([1, 2, 3, 4]))

In [265]:
Dict1.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3), ('key4', 4)])

In [ ]:
Dict2[3]

In [ ]:
Dict1.get('key1')

In [ ]:
Dict1.keys()

In [ ]:
Dict1.values()

In [ ]:
Dict1.items()

In [267]:
Dict1.pop('key1')

1

In [268]:
Dict1.popitem()

('key4', 4)

In [269]:
Dict1.items()

dict_items([('key2', 2), ('key3', 3)])

In [270]:
Dict1.update({'key1': 1})

In [271]:
Dict1

{'key2': 2, 'key3': 3, 'key1': 1}

In [273]:
student_info = {'name':'Prajwal',
               'age': 26,
               'course': ['DS','DA','AWS'],
               'marks':[80,90,60]}

In [274]:
type(student_info)

dict

In [275]:
student_info['name']

'Prajwal'

In [276]:
student_info['name'] = 'Ram'

In [277]:
student_info

{'name': 'Ram',
 'age': 26,
 'course': ['DS', 'DA', 'AWS'],
 'marks': [80, 90, 60]}

In [285]:
student_info['course'][2] = 'ML'

In [286]:
student_info

{'name': 'Ram', 'age': 26, 'course': ['DS', 'DA', 'ML'], 'marks': [80, 90, 60]}

In [288]:
student_info['course'].append('AWS')

In [289]:
student_info

{'name': 'Ram',
 'age': 26,
 'course': ['DS', 'DA', 'ML', 'AWS'],
 'marks': [80, 90, 60]}

In [290]:
student_info['marks'].append(85)

In [291]:
student_info

{'name': 'Ram',
 'age': 26,
 'course': ['DS', 'DA', 'ML', 'AWS'],
 'marks': [80, 90, 60, 85]}

# calculate the average marks

In [292]:
student_info['marks']

[80, 90, 60, 85]

In [293]:
avg_marks = sum(student_info['marks'])/len(student_info['marks'])

In [294]:
avg_marks

78.75

In [330]:
students_details = [ {'name': 'Ram',
                     'age': 30,
                     'course': ['DS', 'Stat', 'AWS'],
                     'marks': [80, 90, 60]},
                    
                     {'name': 'Sam',
                     'age': 37,
                     'course': ['DS', 'Stat', 'AWS'],
                     'marks': [80, 95, 69]}
                ]

In [300]:
students = {'st1':{'name': 'Ram',
                     'age': 30,
                     'course': ['DS', 'Stat', 'AWS'],
                     'marks': [80, 90, 60]},
            
            'st2':{'name': 'Sam',
                     'age': 37,
                     'course': ['DS', 'Stat', 'AWS'],
                     'marks': [80, 95, 69]}
           }

In [303]:
students['st2']['name']

'Sam'

In [299]:
students_details[1]

{'name': 'Sam',
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69]}

In [ ]:
# conditional statements
if
if else
if elif else
if ternory operator
nested if statements

In [ ]:
# sytax for if statements
if condition:
    statements 
    
# syntax for else statements

if condition:
    statements
else:
    statements
        
# syntax for elif statements
if condition1:
    statements
elif condition2:
    statements
elif condition3:
    statements
else:
    statements

In [304]:
a = 10
b = 20

In [305]:
a == b, a!=b, a>b, a>=b,a<b,a<=b

(False, True, False, False, True, True)

In [306]:
if a != b:
    print('a is not equal to b')

a is not equal to b

In [309]:
if a <= b:
    print('a is not greater then  to b')

a is not greater then  to b

In [307]:
if a == b:
    print('a is not equal to b')

In [308]:
if a >= b:
    print('a is not greater then  to b')

In [310]:
age = int(input('Enter your age: '))
if type(age) == int:
    print('The given age is in integer')

Enter your age: 26
The given age is in integer

In [312]:
age = int(input('Enter your age: '))
if age >= 18:
    print('The age is eligible for voting')

Enter your age: 20
The age is eligible for voting

In [314]:
#check the given number is even. [0,2,4,6,,,,, ]
num = int(input('Enter your age: '))
if num%2 ==0:
    print('The given number is even')

Enter your age: 3

In [318]:
age = int(input('Enter your age: '))
if type(age) == int and age>=18:
    print('The given age is in integer and eligible for voting ')

Enter your age: 23
The given age is in integer and eligible for voting

In [319]:
a,b

(10, 20)

In [321]:
a == 10 and  b==20 and  b < 10

False

In [ ]:
a != 10 and  b==20

In [ ]:
if a != 10 and  b==20:
    print('a is not greater then  to b')

In [ ]:
a == 10 and  b==20

In [ ]:
if a == 10 and  b==20:
    print('a is not greater then  to b')

In [324]:
a != 10 or  b==20

True

In [325]:
if a == 10 or  b==20:
    print('a is not greater then  to b')

a is not greater then  to b

In [326]:
if not a==10:
    print(' a is equal to b')

In [327]:
if not a!=10:
    print(' a is equal to 10')

 a is equal to 10

In [328]:
if not a!=10 and not b!=20:
    print(' a is equal to 10')

 a is equal to 10

In [ ]:
age = int(input('Enter your age: '))
if age >= 18:
    print('You are eligible for voting.')
else:
    print('you are not eligible for voting.')

In [ ]:
age = int(input('Enter your age: '))
gender = input('Enter your gender type: ')
if age >= 18 and gender == 'male':
    print('You are eligible for voting in the male booth.')
else:
    print('you are not eligible for voting.')

In [ ]:
age >= 18 and (gender == 'male' or gender =='female')

In [ ]:
age = int(input('Enter your age: '))
gender = input('Enter your gender type: ')
if age >= 18 and (gender == 'male' or gender =='female'):
    print('You are eligible for voting')
else:
    print('you are not eligible for voting.')

In [ ]:
# Task1: check the given user input value is divisible are not.

# Task2: Check the given number is even or odd.

In [ ]:
avg_st1 = round(sum(students_details[0]['marks'])/len(students_details[0]['marks']),2)
avg_st1

In [ ]:
if avg_st1 >=90:
    grade = 'A grade'
    print(avg_st1,grade, sep='-->')
elif avg_st1 <90 and avg_st1 >=70:
    grade = 'B grade'
    print(avg_st1,grade, sep='-->')
elif avg_st1 < 70 and avg_st1 >=50:
    grade = 'C grade'
    print(avg_st1,grade, sep='-->')
elif avg_st1 < 50 and avg_st1 >=35:
    grade = 'D grade'
    print(avg_st1,grade, sep='-->')
else:
    grade = 'Fail'
    print(avg_st1,grade, sep='-->')

In [ ]:
# nested if else statements"

In [ ]:
students_details

In [ ]:
'DS' in students_details[0]['course']

In [ ]:
if 'DS' in students_details[0]['course']:
    if students_details[0]['name'] == 'Ram':
        print('The ram candidate is taken DS session')
    else:
        print('Ram is not taken the DS session')
else:
    print('ds is not in the courses')

In [ ]:
students_height = [['Prajwal','juhaib','aryan','ram','pyarellall','binit','venkatesh','tej','rajshri','tanuja','akankshya','sandhya'],
                   [5.5,5.6,5.9,5.8,5.7,5.9,6.5,6.8,7.1,6.3,6.4,6.6,6.4]]
check the names as in terms of string, and hieght interms of float, if it is true calculate the average height.
check for min and max hieght too.

In [ ]:
# ternory operator
age = int(input('Enter your age: '))
if age >= 18:
    print('You are eligible for voting.')
else:
    print('you are not eligible for voting.')

In [ ]:
age  = int(input('Enter your age: '))
result = 'You are eligible for voting' if age >=18 else 'you are not eligible'

In [ ]:
print(result)

# looping statements

In [ ]:
For loop-->

for i in range(0,10):
    statements

In [ ]:
range(0,10)

In [ ]:
for i in range(0,10):
    print(i)

In [ ]:
for i in range(0,11):
    print(i)

In [ ]:
for i in range(0,10,3):
    print(i)

In [1]:
Data = [10,20,50,70,80,30]
Tuple_data = (50,60,70,80,13)
Set_data = {12,15,16,17,18,19}
students_name = ['Prajwal','juhaib','aryan','ram','pyarellall','binit','venkatesh','tej','rajshri','tanuja','akankshya','sandhya']

In [ ]:
for i in Data:
    print(i * 2)

In [ ]:
for i in Tuple_data:
    print(i)

In [ ]:
for i in Set_data:
    print(i)

In [ ]:
for i in students_name:
    print(i.lower())

In [ ]:
for i in students_name:
    if 'binit' in students_name:
        print(i)
    else:
        break

In [ ]:
'binit' not in students_name

In [ ]:
for i in students_name:
    if 'binit' not in students_name:
        print('binit is in the students name')
    else:
        print(i)
        break

In [ ]:
for i in students_name:
    if 'binit' == i:
        break
    print(i)

In [ ]:
Data = [10,20,50,70,80,30] # if i is 70 break the loop

In [ ]:
for i in Data:
    if i == 70:
        break
    print(i)

In [ ]:
for i in Data:
    if i == 70:
        i = i+10
        print(i)
        continue
    print(i)

In [ ]:
students_name

In [3]:
for i in students_name:
    if i == 'ram':
        students_name.remove('ram')
        students_name.append('RAM')
    print(i)

Prajwal
juhaib
aryan
pyarellall
binit
venkatesh
tej
rajshri
tanuja
akankshya
sandhya
RAM

In [5]:
print(students_name)

['Prajwal', 'juhaib', 'aryan', 'pyarellall', 'binit', 'venkatesh', 'tej', 'rajshri', 'tanuja', 'akankshya', 'sandhya', 'RAM']

In [12]:
for i in range(0,6):
    if i == 3:
        pass
    print(i)

0
1
2
3
4
5

In [7]:
# pass
for i in students_name:
    if i == 'aryan':
        pass
    print(i)

Prajwal
juhaib
aryan
pyarellall
binit
venkatesh
tej
rajshri
tanuja
akankshya
sandhya
RAM

In [8]:
for i in students_name:
    if i == 'aryan':
        pass
        print(i)

aryan

In [331]:
students_details

[{'name': 'Ram',
  'age': 30,
  'course': ['DS', 'Stat', 'AWS'],
  'marks': [80, 90, 60]},
 {'name': 'Sam',
  'age': 37,
  'course': ['DS', 'Stat', 'AWS'],
  'marks': [80, 95, 69]}]

In [341]:
for i in students_details:
    names = i['name']
    avg_marks = round(sum(i['marks'])/len(i['marks']),2)
    if avg_marks >=90:
        grade = 'A grade'
        print(names,avg_marks,grade, sep=': ')
    elif avg_marks <90 and avg_marks >=70:
        grade = 'B grade'
        print(names,avg_marks,grade, sep=': ')
    elif avg_marks < 70 and avg_marks >=50:
        grade = 'C grade'
        print(names,avg_marks,grade, sep=': ')
    elif avg_marks < 50 and avg_marks >=35:
        grade = 'D grade'
        print(names,avg_marks,grade, sep=': ')
    else:
        grade = 'Fail'
        print(names,avg_marks,grade, sep=': ')

Ram: 76.67: B grade
Sam: 81.33: B grade

In [346]:
# increament operation
add = []
for i in range(0,10):
    # i = i+1
    i+=1
    add.append(i)
print(add)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [348]:
sub = []
for i in range(11,0,-1):
    # i = i+1
    i-=1
    sub.append(i)
print(sub)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [355]:
# similar to len function

data = [10,20,30,40,50]
Count = 0
for i in data:
    Count += 1
print(Count)

5

In [356]:
# sum of the values

data = [10,20,30,40,50]
summation = 0
for i in data:
    summation += i
print(summation)

150

In [357]:
# product of the values
data = [10,20,30,40,50]
prod = 1
for i in data:
    prod *= i
print(prod)

12000000

In [358]:
# sum of squared values
1**2+2**2+3**2+4**2+5**2

55

In [359]:
sum_squared = 0
for i in range(1,6):
    sum_squared += i ** 2
print(sum_squared)

55

In [ ]:
# nested loops [patterns]

In [361]:
students_heights = [[5.5,5.6,5.9,5.8,5.7,5.9],[6.5,6.8,7.1,6.3,6.4,6.6,6.4],[7.1,7.8,7.5,6.9,8.1,7.5,7.9]]
for i in students_heights:
    for j in i:
        print(j)

5.5
5.6
5.9
5.8
5.7
5.9
6.5
6.8
7.1
6.3
6.4
6.6
6.4
7.1
7.8
7.5
6.9
8.1
7.5
7.9

In [363]:
for i in students_heights:
    if type(students_heights) == str:
        for j in i:
            print(j)

In [364]:
DS_students = [{'name': 'Sam',
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,60]},
{'name': None,
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,70]},
{'name': 10,
 'age': 37,
 'course': ['DS', 'Stat', 'AWS'],
 'marks': [80, 95, 69,30]}]

In [372]:
for i in DS_students:
    if type(i['name']) == str: 
        for j in i.items():
            print(j)

('name', 'Sam')
('age', 37)
('course', ['DS', 'Stat', 'AWS'])
('marks', [80, 95, 69, 60])

In [380]:
for i in range(0,5):
    for j in range(0,3):
        print(j,end = ' ')
    print()

0 1 2
0 1 2
0 1 2
0 1 2
0 1 2

In [390]:
row = 6
for i in range(1,row+1):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

In [392]:
row = 6
for i in range(1,row+1):
    for j in range(i+1):
        print(j, end=' ')
    print()

0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6

In [394]:
row = 6
for i in range(1,row+1):
    for j in range(i):
        print('#', end=' ')
    print()

#
# #
# # #
# # # #
# # # # #
# # # # # #

In [395]:
# reverse trainagle printing.
for i in range(row,1 ):
    for j in range(i):
        print('#', end=' ')
    print()

# # # # # #
# # # # #
# # # #
# # #
# #
#

In [398]:
for i in range(1,row):
    for j in range(i):
        print('#', end=' ')
    print()
for i in range(row,0,-1):
    for j in range(i):
        print('#', end=' ')
    print()

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # #
# # # #
# # #
# #
#